.moment {
    .date {
        text-align: right;
    }

    .hash {
        text-align: right;

        [md-raised-button] {
            min-width: auto;
            line-height: 20px;
            margin-left: 10px;
        }
    }
}
