.app {
    width: 70%;
    margin: 30px auto 0px auto;

    .title {
        font-size: 5em;
        margin-bottom: 30px;
        text-align: center;
    }

    .actions {
        text-align: center;
        margin-bottom: 30px;

        .action-button {
            font-size: 2em;
        }
    }
}
